<div class="col-12 p-0 mt-3">
	<div class="">
		<div class="grid">
			<div class="col-6 flex align-items-center justify-content-center bg-white">
				<div class="w-full">
					<div class="flex align-items-center justify-content-center"
						style="flex-direction: column">
						<div class="text-left mb-5">
							<h3>Forgot Password ?</h3>
						</div>
						<div class="relative">
							<label for="email" class="block font-medium mb-2 text-sm">Email
								Address</label>
							<i class="pi pi-phone absolute email-icon input-icon"></i>
							<input id="email" type="text" placeholder="Email Address" pInputText
								class="w-full md:w-25rem mb-6">
						</div>
						<button pButton pRipple label="Send OTP"
							class="flex w-full p-3 mb-6 login-btn md:w-25rem"></button>
					</div>
				</div>
			</div>
			<!-- <div class="col-6 align-items-center justify-content-center"> -->
			<div class="col-6 flex align-items-center justify-content-center p-0 bg-white">
				<div class="flex-column flex-wrap justify-content-between pb-6 pt-6"
					style="background:url('assets/layout/images/v1015-101a 1.png')100% -10%, linear-gradient(180deg,#02CDB9 0%,#02A8CD 100%);background-repeat: no-repeat;">
					<div class="text-center">
						<h3 class="mb-1">HELLO,</h3>
						<h2 class="text-white mt-0">WELCOME BACK</h2>
					</div>
					<div class="text-center">
						<img src="assets/layout/images/Монтажная область 2@4x 1.png"
							alt="National Public School" class="max-w-full">
					</div>
					<!-- <p-button label="Don't have an account ? Sign up" styleClass="p-button-rounded bg-white text-color sign-up-btn border-none pl-5 pr-5 pt-3 pb-3"> -->
					<button pButton pRipple type="button"
						class="p-button-rounded bg-white text-color sign-up-btn border-none pl-5 pr-5 pt-3 pb-3 font-semibold block ml-auto mr-auto mt-0 mb-0"
						[routerLink]="['/auth/login']">Already have an account ? <span
							class="text-orange">&nbsp;Login</span></button>
					<!-- </p-button> -->
				</div>
			</div>
		</div>
	</div>
</div>