<div class="layout-footer flex align-items-center justify-content-between p-4" style="margin-left:21.4rem">
    <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/> -->
    <div class="layout-footer-left">
        <span class="text-white">Copyright @ NPS</span>
    </div>
    <div class="layout-footer-right">
        <span class="text-white">All Rights Reserved</span>
    </div>
    <!-- <span class="font-medium ml-2">PrimeNG</span> -->
</div>
